h2{color: OrangeRed;
	font-family: Comic Sans MS, Comic Sans, cursive;
	border: 3px #000 solid;
	width: 1200px;
	padding: 1em;
	border-radius: 3em;
	background-color: lightgreen;}
p{color: blue;
	font-family: Apple Chancery, cursive;}
body{background-color: lightyellow;
	text-decoration: none;}
h1{color: crimson;
	font-family: Comic Sans MS, Comic Sans, cursive;
	font-size: 54px;}
li{color: yellowgreen;
	font-size: 24px;
	
	font-family: Comic Sans MS, Comic Sans, cursive;
	width: 300px;
	padding: 1.0em;
	border-radius: lem;}
a{color: crimson;
	font-family: Apple Chancery, cursive;
	text-decoration: none;}
p2{font-size: 54;}
